<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>新增用户数据</title>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css" />
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
    <div id="app">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">学号</label>
                <div class="layui-input-block">
                    <input type="text" name="name" v-model="STUDENT.sno" required lay-verify="required"
                        placeholder="请输入用户学号" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="age" v-model="STUDENT.sname" required lay-verify="required"
                        placeholder="请输入用户姓名" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <textarea name="addres" v-model="STUDENT.ssex" placeholder="请输入性别"
                        class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">生日</label>
                <div class="layui-input-block">
                    <textarea name="addres" v-model="STUDENT.sbirthday" placeholder="请输入生日"
                        class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">专业</label>
                <div class="layui-input-block">
                    <textarea name="addres" v-model="STUDENT.speciality" placeholder="请输入专业"
                        class="layui-textarea"></textarea>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">班级</label>
                    <div class="layui-input-block">
                        <textarea name="addres" v-model="STUDENT.sclass" placeholder="请输入班级"
                            class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">学分</label>
                <div class="layui-input-block">
                    <textarea name="addres" v-model="STUDENT.tc" placeholder="请输入学分" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="button" class="layui-btn" @click="suAddUser()" value="立即提交">
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    STUDENT: {}
                }
            },
            methods: {
                suAddUser() {
                    alert("点击提交" + this.STUDENT.sno + "," + this.STUDENT.sname);
                    var _this = this;
                    axios({
                        method: "POST", // 使用POST方法
                        url: "http://127.0.0.1:8080/update/",
                        data: JSON.stringify(_this.STUDENT), // 正确发送用户信息的对象
                        headers: {
                            'Content-Type': 'application/json;charset=UTF-8'
                        },
                        dataType: 'json' // 添加dataType字段
                    }).then(resp => {
                        var flag = resp.data
                        if (flag == true) {
                            alert("修改数据成功");
                            window.location.href = "Index.html";
                        } else {
                            alert("修改数据失败");
                        }
                    })
                }
            }
        })
    </script>
</body>

</html>